<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Error Page</title>
  <!-- Bootstrap CSS -->
  <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" >
  <link th:href="@{/css/error.css}" rel="stylesheet" >
</head>
<body>
<div class="container error-container text-center">
  <div class="error-page">
    <div class="text-center">
      <h1>Oops!</h1>
      <p>An error has occurred.</p>
    </div>
  </div>
</div>
<!-- Bootstrap JS -->
<script th:src="@{/js/bootstrap.bundle.min.js}" ></script>
</body>
</html>
