.error-page {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Open Sans", sans-serif;
}

.error-page h1 {
    font-size: 8rem;
    font-weight: 700;
    color: #002795;
    margin-bottom: 0;
}

.error-page p {
    font-size: 1.5rem;
    font-weight: 300;
    color: #002795;
    margin-bottom: 4rem;
}

.error-page a {
    font-size: 1.25rem;
    font-weight: 700;
    color: #002795;
    text-decoration: none;
    border: 2px solid #002795;
    padding: 0.75rem 2rem;
    border-radius: 50px;
    transition: all 0.3s ease-in-out;
}

.error-page a:hover {
    background: #002795;
    color: #fff;
}