<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Create Account</title>
  <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" >
</head>
<body>
<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <form th:action="@{/register}" method="post">
            <div class="mb-3">
              <label for="name" class="form-label">Name</label>
              <input type="text" class="form-control" id="name" name="name" required>
            </div>
            <div class="mb-3">
              <label for="email" class="form-label">Email address</label>
              <input type="email" class="form-control" id="email" name="username" required>
            </div>
            <div class="mb-3">
              <label for="password" class="form-label">Master Password</label>
              <input type="password" class="form-control" id="password" name="password" required>
            </div>
            <div class="mb-3">
              <label for="re-type-password" class="form-label">Re-type master password</label>
              <input type="password" class="form-control" id="re-type-password" required>
            </div>
            <div class="d-grid gap-2 d-md-flex justify-content-center">
              <button type="submit" class="btn btn-primary btn-block">Register</button>
            </div>
          </form>
        </div>
        <div class="card-footer text-body-secondary">
          Do you have shield? <a th:href="@{/login}" class="card-link">Please login</a>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
<script th:src="@{/js/bootstrap.bundle.min.js}" ></script>
</html>